<div class="container" style="padding: 25px;">
    <div class="row">
        <div class="span3">
            <button type="button" class="btn" data-bind="click: getReport">
                Get Report</button>
            <button type="button" class="btn" data-bind="click: kluge">
                Kluge</button>
            <h4>
                Report Type</h4>
            <div data-bind="text: reportType.reportType">
            </div>
            <div data-bind="compose: {model: reportType, view: 'views/reportType.html'}" style="height: 300px;
                overflow-y: auto;">
            </div>
            <h4>
                Report By Person</h4>
            <div data-bind="text:persons.personSelected">
            </div>
            <div data-bind="compose: {model: persons, view: 'views/persons.html'}" style="height: 300px;
                overflow-y: auto;">
            </div>
        </div>
        <div class="span9">
            <div class="map-container">
            </div>
            <br />
            <div class="row">
                <div class="span3">
                Begin: <span data-bind="text: reportBegin().toDateString()" />
                </div>
                <div class="span3">
                End: <span data-bind="text: reportEnd().toDateString()" />
                </div>
            </div>
            <!-- ko widget: {
                kind: 'dateRangeSlider', minDate: reportMinDate, days: reportDays, 
                beginDate: reportBegin, endDate: reportEnd, slideStop: reportDateChanged
                } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="row">
    </div>
</div>
